{% extends "layout.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <h2>👋 Welcome to your Interview Question Generator app!</h2>
    <p>
        This app helps you prepare for job interviews by generating AI-powered questions.
        Use the menu on the left to explore the different tools available:
    </p>
    <ul>
        <li><strong>📝 Question generator using skills:</strong> Create custom questions for your selection processes, taking into account the required skills.</li>
        <li><strong>📋 Question generator using the job description:</strong> Create custom questions for your selection processes, based on the job descriptions posted.</li>
    </ul>
    <p>We hope you find it very useful!</p>
{% endblock %}